

<!--Main Navigation-->
<header>
    <!-- Sidebar -->

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-black">
      <div class="position">

        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          ></a>
          
           <button class="btn btn-primary m-4" ><a class="nav-link" (click)="details(content)">Create Post</a></button>

           <button class="btn btn-success m-4" ><a class="nav-link">View Post</a></button>

           <button class="btn btn-secondary m-4" ><a class="nav-link" >Profile</a></button>

           <button class="btn btn-danger m-4" ><a class="nav-link"  href="#" (click)="logout()">logout</a></button>

        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <app-profile-icon></app-profile-icon>

        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
      
  
        <!-- Right links -->
       
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 68px; background-color: blueviolet;">
    <div class="container pt-4 "></div>
  </main>
  <!--Main layout-->
  </div>
</nav>
</header>
<div class="card text-white bg-dark mb-2" style="max-width: 48rem;margin-left: 600px;margin-top: 50px;" *ngFor='let post of postList ;index as i'>
  <div class="card-header bg-primary width:10px">{{post.title}}</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
    {{post.body}}</p>
    
  </div>
  <hr>
  <div class="bg-dark p-2">
    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-white-50">Shared publicly - Jan 2020</span></div>
    </div>
    <div class="mt-2">
        <p class="comment-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

  <div class="card-text" *ngFor='let comment of commentList ;index as i'>
  </div>
  <section style="background-color: #181D31 " style="max-width:70rem;margin-top: 100px;padding: 100px;padding-bottom:0px;padding-left: 0px; text-align: start;"  >
    <div class="container my-1 py-1 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                
               
                <div class="w-100">
                  <h5>Add a comment</h5>
                 
                  <div class="form-outline" [formGroup]="commentForm">
                    <textarea class="form-control" id="textAreaExample" rows="4" formControlName="body"></textarea>
                    <label class="form-label" for="textAreaExample">What is your view?</label>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <button type="button" style="visibility: hidden;"></button>
                    <button type="button" class="btn btn-primary" (click)="postComment()">
                      Comment <i class="fas fa-long-arrow-alt-right ms-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

&nbsp;
<ng-template  #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-color bg-warning ">
    <h4 class="modal-title text-lg text-bold text-align text-align-center" id="modal-basic-title">Create Post!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    <hr>
  </div>
  <div class="modal-body">
    <form [formGroup]="createPost">
       <!-- title input -->
      <div class="text-black mb-2" >
        <label class="form-label" for="form4Example2">Title</label>&nbsp;
        <input type="text" id="field" class="card-text-white" formControlName="title" />
      </div>
  
      <div class="text-black mb-2" style="visibility: hidden;"  >
        <label class="form-label" for="form4Example3">id </label>
        <input class="form-control" id="message" rows="4"  formControlName="id">
      </div>

      <div class="text-black mb-2" style="visibility: hidden;">
        <label class="form-label" for="form4Example3">User Id</label>
        <input class="form-control" id="message" rows="4"  formControlName="user_id">
      </div>


      <!-- Message input -->
      <div class="text-black mb-2" >
        <label class="form-label" for="form4Example3">Content </label>
        <textarea class="form-control" id="message" rows="4" formControlName="body"></textarea>
      </div>
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="button" class="btn btn-primary btn-lg" (click)="addPost()">Post</button>
      </div>
    </form>
  </div>
</ng-template>
